body {
    background-color: #efefef
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.tab-tag {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.tab-tag .label-info {
    margin: 5px 5px;
    display: inline-bLock;
    white-space: normal;
}