<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>杭杭社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/js/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

<!-- 导航栏 -->
<div th:insert="~{commons/navigation :: navigation}"></div>

<div class="jumbotron">
    <h1 th:text="${httpStatus}">出错啦!!!</h1>
    <p th:text="${message}">服务太热啦，要不然稍等下来试试</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>

<div th:insert="~{commons/footer :: footer}"></div>
</body>
</html>