<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/js/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/question.css">
    <script src="/js/community.js"></script>
</head>
<body>

<!-- 导航栏 -->
<div th:insert="~{commons/navigation :: navigation}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <!-- 左侧部分 -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- 问题部分 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="question-title"><span th:text="${questionDTO.question.title}"></span></h2>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="text-desc">
                    作者 <span th:text="${questionDTO.user.name}"></span> •
                    <span th:text="${questionDTO.question.getCommentCount()}"></span> 个回复 •
                    <span th:text="${questionDTO.question.getViewCount()}"></span> 次浏览 •
                    <span th:text="${#dates.format(questionDTO.question.getGmtCreate(), 'yyyy-MMMM-dd HH:mm')}"></span>
                </span>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span th:text="${questionDTO.question.getDescription()}"></span>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a th:href="@{'/publish/' + ${questionDTO.question.id}}" class="community-menu"
               th:if="${session.user != null && session.user.getId() == questionDTO.question.creator}">
                <span class="glyphicon glyphicon-pencil"></span>
                编辑
            </a>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!-- 回复内容部分 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${questionDTO.question.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="commentDTO : ${commentDTOS}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${commentDTO.user.getAvatarUrl()}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${commentDTO.user.name}"></span>
                            </h5>
                            <div th:text="${commentDTO.comment.content}"></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span class="glyphicon glyphicon-comment icon"></span>
                                <span class="pull-right"
                                      th:text="${#dates.format(commentDTO.comment.gmtCreate, 'yyyy-MMMM-dd HH:mm')}">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 回复输入框部分 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${questionDTO.user.getAvatarUrl()}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${questionDTO.user.name}"></span>
                            </h5>
                        </div>
                    </div>

                    <input type="hidden" id="question_id" th:value="${questionDTO.question.getId()}">
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <!-- 绑定事件，绑定到post方法上。在点击这个按钮的时候可以触发这个事件 -->
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>

        </div>

        <!-- 右侧 -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${questionDTO.user.getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${questionDTO.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>